/* CSS HEX */
/* --federal-blue: #031a6bff;
--prussian-blue: #033860ff;
--cerulean: #087ca7ff;
--polynesian-blue: #004385ff;
--aero: #05b2dcff; */

/* global styles */
img {
    width: 300px;
}

body {
    color:#031A6B;
    margin: 0;
    padding: 0px;
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

a {
    color: #F0F0F0;
}

a:hover {
    text-decoration: none;
}

.content-wrap {
    max-width: 1000px;
    width: 85%;
    margin: 0 auto;
    padding: 60px 0;
}

h1  {
    font-family: 'Roboto', sans-serif;
    font-size: 6em;
    line-height: 1;
    font-weight: 100;
}

h2 {
    font-size: 2.5em;
    font-weight: 300;
}

h1, h2 {
    margin: 0 auto;
}

h3{
    margin-bottom: 0;
}

h3 + p {
    font-style: italic;
}

h3 ~ p {
    margin: 0;
}

.divider > section{
    border-bottom: 1px dashed red;
    padding: 25px 0;
}
.divider > section:last-of-type {
    border-bottom: none;
}

/* ------------------- profile ------------------- */
header {
    background: #031A6B;
}

.profile {
    color: white;
}

.profile h2 {
    margin-top: 25px;
}

header p {
    font-size: 20px;
}

/* ------------------- skills ------------------- */
.skills ul {
    display: flex;;
    list-style-type: none;
    padding: 0;
}

.skills li {
    color: white;
    font-size: 1.25em;
    align-content: center;
    background-color: #087CA7;
    padding: 0 25px;
    margin: 0 10px;
    border-radius: 5px;
}

/* ------------------- edecation ------------------- */
.education {
    color: #031A6B;
    /* background: #004385; */
    background-image: url(../img/joanna-kosinska-unsplash.jpg);
    background-size: cover;
    background-position: top right;
}

.education h3 {
    font-size: 20px;
}

/* ------------------- projects ------------------- */
.projects {
    background: #087CA7;
    margin: 0;
    color: white;
}

.projects a {
    background: white;
    color: #087CA7;
    padding: 8px;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
}

.projects a:hover {
    /* color: white; */
    background: #031A6B;
}

.project-item {
    overflow: hidden;
}

.project-item h3 {
    margin-top: 0;
}

/* ------------------- work experience ------------------- */
.work {
    background: #05B2DC;
    margin: 0;
}

/* ------------------- contact ------------------- */
footer {
    color: #F0F0F0;
    background: #033860;
    margin: 0;
}

.contact-list {
    list-style-type: none;
    padding: 0;
}

.contact-list a {
    padding: 15px;
}

.contact-item {
    flex: 0 0 200px;
}

/* ------------------- responisce ------------------- */
@media screen and (min-width: 800px) {
    header, footer {
        text-align: center;
    }

    .project-item {
        display: grid;
        grid-template-columns: 1fr 2fr;
        justify-content: center;
    }

    .project-item img {
        margin-right: 20px;
    }

    .work-item {
        display: grid;
        grid-template-columns: 3fr 5fr;
        grid-template-rows: auto;
        column-gap: 10px;
    }
    
    .work-duty {
        padding: 30px;
        margin: 0;
    }
    
    .education p {
        width: 60%;
    }

    .contact-list {    
        display: flex;
        justify-content: center;
    }

    .contact-list a {
        display: inline-block;
    }
}

@media screen and (max-width: 799px) {
    h1 {
        font-size: 3.5em
    }

    h2 {
        font-size: 2em;
    }

    h3  {
        font-size: 1.5em;
    }

    p {
        font-size: 1em;
        line-height: 1.2;
    }

    .contact-list a{
        padding: 5px;
    }

    .contact-list {
        margin: 0;
    }
}